---
- resources:
    label: Docker VM (VM 100)
    expanded: true
    cpu: true
    memory: true
    disk: /
    uptime: true

- search:
    provider: google
    target: _blank

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hour12: false